<div class="col-md-8 blog-main">                <!-- Start blog-main --> 
  
   <%= paginate @blogs %>                <!-- Calling kaminari method for pagination --> 

   <%= render @blogs %>

   <%= paginate @blogs %>

</div>                                           <!-- End blog-main --> 