<section class="jumbotron text-center">
	<div class="container">
	  <h1>My Portfolio</h1>
	  <p class="lead text-muted">Here are a collection of Programing languages that I'm currently working on.</p>
	  <p>
	  	<%= link_to "Find out more About me", about_me_path, class: "btn btn-primary my-2"%>
	  	<%= link_to "My current Blogs", blogs_path, class: "btn btn-secondary my-2"%>
	  </p>
	</div>
</section>
 