<footer class="text-muted">
  <div class="container">
    <footer class="mastfoot mt-auto">
		<p class="float-right">
	      <a href="#">Back to top</a>
	    </p>    	
		<p class="inner">
		  <%= copyright_generator %>
		</p>
	</footer>  
  </div>
</footer>