<main role="main" class="inner cover app-card-container">
  <div class="card">
  	<h3 class="cover-heading">Would you like to work together?</h3>
  	<div class="row">
  	  <div class="col-md-4">  	  	
	  	<h4 class="cover-heading">Office Address</h4><p class="lead">6859 Fulton Ave, North Hollywood, CA 91605</p>
	  	<h4 class="cover-heading">Phone</h4><p class="lead"><%= number_to_phone "8182555458" %></p>
	  	<h4 class="cover-heading">Email</h4><p class="lead"><a href="mailto:sanj0071@yahoo.com?subject=PortfolioContact">Email Me</a></p>	
	  </div>
	  <div class="col-md-8"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3300.7838591406594!2d-118.42504644958977!3d34.17744338047676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2965b59f86fb9%3A0x3302c7d735957324!2s5859%20Fulton%20Ave%2C%20Sherman%20Oaks%2C%20CA%2091401!5e0!3m2!1sen!2sus!4v1578719088634!5m2!1sen!2sus" width="500" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	  </div>
	</div>
  </div>  
</main>