<h1>Pages#contact</h1>

<p>Phone: <%= number_to_phone "1234567890"%></p>

<p><%= number_to_currency "275"%></p>

<p><%= number_to_percentage "27.5"%></p>

<p><%= number_with_delimiter "274687987465165156487"%></p>
